@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffc5c5;
}

.form_container {
    background: #e5ddf6;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.form_container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.input_box input,
.input_box select {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #333;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus,
.input_box select:focus {
    border-color: #b682fa;
}

.button {
    background: #7d2ae8;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.login_signup a {
    color: #7d2ae8;
    text-decoration: none;
}

.login_signup a:hover {
    text-decoration: underline;
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox input {
    margin-right: 10px;
}